services:
    app:
        image: hanabosocom/php-dev:php-8.4-alpine
        user: ${DEV_UID}:${DEV_GID}
        ports:
            - ${DEV_IP}:8000:80
        working_dir: /var/www/pipes/pipes-connectors
        volumes:
            - ../:/var/www/pipes:cached
            - ${SSH_AUTH}:/tmp/.ssh-auth-sock
            - ${HOME}/dev/.composer:${HOME}/dev/.composer:cached
        environment:
            - DEV_UID=${DEV_UID}
            - DEV_GID=${DEV_GID}
            - KERNEL_CLASS=HbPFConnectorsTests\app\Kernel
            - PHP_WEBROOT=/var/www/pipes/pipes-connectors/public
            - COMPOSER_HOME=${HOME}/dev/.composer
            - WORKER_API=https://test.com
            - ORCHESTY_API_KEY=ThisIsNotRealKEy
            - BACKEND_DSN=https://test.com
            - STARTING_POINT_DSN=https://starting-point

    fakes3:
        image: skomitov/fakes3
